# Postgres
POSTGRES_SERVER=localhost
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=manaksetu

# Qdrant
QDRANT_URL=http://localhost:6333
QDRANT_COLLECTION=indian_standards

# AI Engine
EMBEDDING_MODEL=sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2
EMBEDDING_BATCH_SIZE=32
